{% extends "home.html" %}

{% block content %}
  <h1>Contacts</h1>

  <form action="contact_edit" method="post">
    <input type="hidden" name="contact_pk" value="{{ contact.contact_pk }}" />
    <input type="text" name="firstname" value="{{ contact.firstname }}" />
    <input type="text" name="lastname"  value="{{ contact.lastname }}"/>
    <input type="email" name="emailaddress"  value="{{ contact.emailaddress }}"/>
    <select name="group_id">
      <option value="-1">-</option>
      <option value="0" {% if contact.group_id == 0 %}selected="true"{% endif %}>Early adopters</option>
      <option value="1" {% if contact.group_id == 1 %}selected="true"{% endif %}>Beta testers</option>
      <option value="2" {% if contact.group_id == 2 %}selected="true"{% endif %}>Top customers</option>
    </select>
    <input type="submit" />
  </form>
{% endblock %}
