{% extends "home.html" %}

{% block content %}
  <h1>Contacts</h1>
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
      </tr>
    <thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
        <td>{{ contact.firstname }}</td>
        <td>{{ contact.lastname }}</td>
        <td>{{ contact.emailaddress }}</td>
        <td>
          <form action="/contact_edit/{{ contact.contact_pk }}">
            <button type="submit">Edit</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="contact" method="post">
    <input type="text" name="firstname" />
    <input type="text" name="lastname" />
    <input type="email" name="emailaddress" />
    <input type="submit" value="Add" />
  </form>
{% endblock %}
